$splash-loading-background-color: red;
$splash-loading-background-image: none;
splash-loading-component {
  ion-content {
    .scroll-content {
      background-color: $splash-loading-background-color;
      background-image: $splash-loading-background-image;
      background-size: cover;
      text-align: center;
      color: white;
      padding-bottom: 100px !important;
      overflow-y: hidden !important;
      min-height: 500px;
    }
    .loading {
      width: 100%;
      height: 100%;
      margin: 50% auto;
    }
    ion-spinner {
      display: block;
      margin: 10px auto;
      * {
        stroke: white !important;
      }
  
      &.spinner-circles circle,
      &.spinner-bubbles circle,
      &.spinner-dots circle {
        fill: white !important;
      }
    }
  }
}